@import "nav.css";

main {
    grid-gap: 10px;
    overflow-y: scroll;
    overflow-x: hidden;
    z-index: -1;
    text-align: center;
    position: relative;
}

.noUsersMessage > div {
    width: 80%;
    background-color: rgba(169, 169, 217, 0.3);
    margin: 0 auto;
    border-radius: 15px;
    padding: 15px 35px;
    color: rgba(43, 43, 43, 0.9);
    font-size: 1.15rem;
}

.takeMeThereBtn {
    width: 75%;
    margin: 20px auto;
    padding: 10px;
    font-size: 1rem;
    outline: none;
    background-color: rgba(87, 84, 236, 0.9);
    color: white;
    border-radius: 10px;
    border: none;
}

.usersWrapper {
    width: 85%;
    margin: 0 auto;
}
.userToplineSummary {
    display: flex;
    justify-content: flex-end;
    border-radius: 15px;
    margin: 10px 0px;
    padding: 5px 15px;
    align-items: center;
}
.userToplineSummary > p:nth-child(1){
    margin-right: auto;
}
.userToplineSummary > div {
    margin-right: 5px;
    margin-left: 60px;
    height: 15%;
    
    font-size: 1.45rem;
}
.userToplineSummary > p:nth-child(2)::after{
    content: "%";
}
.userToplineSummary > p {
    font-size: 1.15rem;
    margin-top: 12.5px;
    margin-bottom: 12.5px;
}
.moreUserInfoBtn {
    display: flex;
    align-items: center;
}
.moreUserIcon {
    width: 30px;
}
.userSummaryModal {
    position: absolute;
    top: 8%;
    background-color: rgba(132, 130, 234, 1);
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
    width: 85%;
    border-radius: 15px;
}

.userSummaryModal > p {
    color: #dbdbff;
    font-size: 1.2rem;
}
.modalCloseDiv {
    /* width: 10%; */
    display: flex;
    justify-content: flex-end;
}
.modalCloseDiv > img {
    width: 6%;
    margin: 20px;
}
.summaryUsersName {
    margin: 0px;
}
.weekReviewTitle {
    color: rgba(43, 43, 43, 0.6);
}

.lastLoginText{
    display: inline;
    margin-right: 15px;
}
.lastLoginValue{
    display: inline;
}

#carerHomeChart {
    height: 50%;
}
.userSummaryPageTopSection {
    display: flex;
    width: 85%;
    justify-content: space-between;
    margin: 0 auto;
    align-items: center;
}

.userSummaryPageTopSection > div{
    width: 15%;
    padding: 5px 10px;
    font-size: 1.5rem;
    /* outline: none; */
    background-color: rgba(87, 84, 236, 0.9);
    color: white;
    border-radius: 10px;
    border: none;
    height: 40%;
}

.userSummaryPageTopSection > p {
    font-size: 1.25rem;
}

.habitsMetricsTitleDiv {
    display: flex;
    width: 85%;
    margin: 0 auto;
}
.habitsTitleDiv {
    background-color: rgba(132, 130, 234, 1);
    width: 50%;
}
.metricsTitleDiv {
    background-color: rgba(132, 130, 234, 1);
    width: 50%;
}
.activeTitleDiv {
    background-color: rgba(87, 84, 236, 0.9);
}

.habitsSummarySection {
    border: 3px solid rgba(132, 130, 234, 1);
    width: 85%;
    margin: 0 auto;
    padding-top: 15px;
    padding-bottom: 15px;
}

.habitsSummarySection > div > h2 {
    padding-bottom: 5px;
    margin-bottom: 10px;
    margin: 0px;
    display: inline-block;
    border-bottom: 2px solid rgba(87, 84, 236, 0.9);
}

.habitBox {
    display: flex;
    justify-content: space-between;
    width:95%;
    border-radius: 10px;
    margin: 10px auto;
    align-items: center;
}
.habitBox > p:nth-child(1) {
    width: 30%;
    padding: 2.5px;
    margin: 0px;
}
.habitBox > p:nth-child(2) {
    width: 25%;
    padding: 2.5px;
    margin: 2.5px 0px;
}
.habitBox > .fa-x {
    color: rgb(249, 167, 25);
    padding: 5px;
    border-radius: 5px;
    font-size: 1.25rem;
    width: 30%;
}
.habitBox > .fa-check {
    color: green;
    padding: 5px;
    border-radius: 5px;
    font-size: 1.25rem;
    width: 30%;
}
.habitBox > div > i{
    margin-right: 10px;
    font-size: 1.25rem;
}
.goalSection > p {
    margin: 8px 0px;
}
.currentValueSection > p {
    margin: 8px 0px;
}